DATA BASED MANAGEMENT SYSTEM:---SQL(Structure Quary Language):-DDL,DML,DCL
    Relational data base
    Non-Relational data base

# SQLite

In [1]:
import sqlite3

Working with database using SQL(STRUCTUREED QUERY LANGUAGE)

1.Creat a connection object.
2.From the connection object,creat a cursur object.
3.Using the cursur object,call the execute method with creat table query as the parameter.

# Creat Database

In [2]:
#student_database will be created in jupyter notebook Home

In [3]:
import sqlite3

creat database

In [5]:
db=sqlite3.connect('student_detail_database21Aug.db')

create cursor

In [15]:
cur=db.cursor()

In [19]:
cur.execute('create table student(id int primary key,name text,marks int)')

OperationalError: table student already exists

In [20]:
cur.execute("insert into student(id,name,marks) values(101,'John',80)")

OperationalError: table student has no column named name

In [21]:
cur.execute('create table student(id int primary key,name text,marks int)')

OperationalError: table student already exists