# Pickle in Python: Object Serialization

In [1]:
import pickle

In [4]:
flower_dict = {1:'Rose',2: 'Lily',3: 'Lotus',4: 'Tulip'}

In [5]:
filename = 'flower'
outfile = open(filename,'wb')

In [6]:
#filename = 'flower'
outfile = open('flower.obj','wb')

In [7]:
#pickling the file
#dump method serialize
pickle.dump(flower_dict,outfile)
outfile.close()

In [8]:
#unpickle the file
infile=open(filename,'rb')

In [9]:
#unpickle the file
infile=open('flower.obj','rb')

In [10]:
#de-serialize
#Load method
new_dict=pickle.load(infile)

In [11]:
infile.close()

In [12]:
print(new_dict)

{1: 'Rose', 2: 'Lily', 3: 'Lotus', 4: 'Tulip'}

In [13]:
print(new_dict==flower_dict)

True

In [14]:
syntax error

SyntaxError: invalid syntax (3740154194.py, line 1)

In [15]:
print(ptr)

NameError: name 'ptr' is not defined

In [18]:
for i in [1,2,3,4,5]:
     print(i)

1
2
3
4
5

In [19]:
np1=input('enter value')
np2=input('enter value')

np1/np2

enter value90
enter value5

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Handling Exceptions

In [20]:
try:
    79/0
except ZeroDivisionError as err:
    print('Handling run time error:',err)

Handling run time error: division by zero

In [21]:
try:
    8+m*2
except NameError as err:
    print('Handling run time error:',err)

Handling run time error: name 'm' is not defined

In [24]:
try:
    i=int(input("value"))
    p=50/i
except ZeroDivisionError:
    print('check name of variable :Name error')
except IndentationError:
    print('check indentation')
else:
    print(p)

value0
check name of variable :Name error

In [27]:
a=[10,20,30]

try:
    print(a[1])
    print(a[2])
    print(a[0])
except:
    print("out of range")
else:
    print("hello")
finally:
    print("end of the program")

20
30
10
hello
end of the program

In [30]:
try:
    i=int(input("value"))
    p=50/i
except:
    print("An Error occured")
else:
    print(p)

value0
An Error occured

In [32]:
try:
    #k=5
    print(k)
except NameError:
    print("check name")
else: 
    print(k)
finally:
    print("This line will be exceuted always")

check name
This line will be exceuted always

In [33]:
try:
    c=2
    print(c)
except NameError:
    print("check name")
except IndetationError:
    print("check indent")
else: 
    print(c)
finally:
    print("This line will be exceuted always")

2
2
This line will be exceuted always

In [37]:
def testf():
     a=int(input("enter"))
     b=int(input("enter"))
     c=a/b
     print("c=",c)

In [39]:
try:
    testf()
except ZeroDivisionError:
    print("Divide by zero")

enter70
enter0
Divide by zero

In [43]:
try:
    testf()
except ArithmeticError:
    print("Some error")
    print(ArithmeticError)

enter66
enter0
Some error
<class 'ArithmeticError'>

In [44]:
def typecasting_func():
    x=input("enter value")
    y=input("enter value")
    z=x*y
    print|("z=",z)

In [47]:
try:
    typecasting_func()
except TypeError:
    print("typecast error")

enter value99
enter value0
typecast error