Obejt orintied Programming System(OOPS):-class() our variables will secured 
In 1940-45 computer was formedthat time machine and Binary languages used and 
afterthat Assembly level languages like codes CE,BE.
IN 1970 c languages and 1980 c++ were came and 1992 PYTHON CAME IN LIGHT(Guido Van Rassuan)
main()

class   class-name:method function|(){variable1, variable2}

class - OOPS  ----- OBJECT ORIENTED PROGRAMMING TECHNOLOGY

In [7]:
class Student:
    #initialization/constructor      #  self   -----. instance/object name
    def __init__(self,rollno,name):
        self.rollno=rollno
        self.name=name
        
    def display(self):       #user defined function
        print("Student rollno=",self.rollno,"and Name=",self.name)

In [8]:
#creating instance/object

obj1=Student(201,"John")        #this line will automatically invoke the initialization constuctor
obj1.display()           #user defined function is called explicitly

Student rollno= 201 and Name= John

In [9]:
stud1=Student(202,"Andrew")   #this line will automatically invoke the initialization constuctor

In [10]:
stud1.display()

Student rollno= 202 and Name= Andrew

In [11]:
stud2=Student(203,"Tom")       #this line will automatically invoke the initialization constuctor
stud2.display()

Student rollno= 203 and Name= Tom

In [12]:
stud3=Student(204,"Maria")         #this line will automatically invoke the initialization constuctor
stud3.display()

Student rollno= 204 and Name= Maria

In [20]:
stud1.rollno

202

In [21]:
stud1.name

'Andrew'

In [22]:
stud2.rollno

203

In [23]:
stud2.name

'Tom'

In [50]:
class Employee:
    revenue=30000     #class variable
    def __init__(self,empno,name,sal):
        self.empno=empno       #instance variable
        self.name=name
        self.sal=sal
        
        
    def display(self):
        print(self.empno,"",self.name,"",self.sal," ",self.revenue)

In [51]:
emp1= Employee(101,'ABC',6000)
emp1.display()

emp2=Employee(102,'XYZ',8000)
emp2.display()

emp3=Employee(103,'DEF',4000)
emp3.display()

101  ABC  6000   30000
102  XYZ  8000   30000
103  DEF  4000   30000

In [52]:
emp1.sal

6000

In [53]:
emp2.sal

8000

In [54]:
emp3.name

'DEF'

In [55]:
Employee.revenue

30000

In [56]:
emp1.revenue

30000

In [ ]:
class person:
    #consturtor/initialization    automatically called
    def __init__(self.name,id,)