In [21]:
import sqlite3

In [22]:
db=sqlite3.connect('student_detail_database21Aug.db')

In [23]:
cur=db.cursor()

In [24]:
results=cur.execute("Select * from employee")

for i in results:
    print(i)

(101, 'John', 80)
(102, 'Jack', 75)
(103, 'Dorsey', 55)
(104, 'Marry', 40)
(105, 'Elon', 78)
(106, 'Richard', 45)
(107, 'Branson', 95)

In [25]:
results=cur.execute("select id from employee")

for i in results:
    print(i)

(101,)
(102,)
(103,)
(104,)
(105,)
(106,)
(107,)

In [29]:
results=cur.execute("Select * from employee where id=101")

In [30]:
results.fetchone()

(101, 'John', 80)

In [31]:
results=cur.execute("Select * from employee where id=104")

results.fetchone()

(104, 'Marry', 40)

In [32]:
results=cur.execute("select * from employee where name='Jack'")

results.fetchall()

[(102, 'Jack', 75)]

In [34]:
results=cur.execute("select * from employee where marks=95")

for i in results:
    print(i)

(107, 'Branson', 95)