# WEB SCRAPING-ASSIGNMENT-2

# Q.NO.1:- Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [29]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [4]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
6,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
7,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
8,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
9,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs

In [13]:
#to fetching the url
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="7899a7c3ca3b94cdc2c3cf445ee0f287", element="74f0b8bb-248c-4410-b6c3-7b8059d6052a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7899a7c3ca3b94cdc2c3cf445ee0f287", element="97b91c12-ff0a-496b-b7aa-620d664ff711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7899a7c3ca3b94cdc2c3cf445ee0f287", element="ca3d16f4-9627-43cf-9bbb-cd61cff793a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7899a7c3ca3b94cdc2c3cf445ee0f287", element="5460e569-6b32-4d9f-9bf8-0006cd4ed63e")>]

In [14]:
for i in url[0:4]: #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-project-data-analyst-wsp-bangalore-bengaluru-0-to-4-years-061222010759
https://www.naukri.com/job-listings-data-analyst-treebo-hotels-bangalore-bengaluru-1-to-5-years-061222003847
https://www.naukri.com/job-listings-executive-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-1-to-5-years-061222908060
https://www.naukri.com/job-listings-data-analyst-anz-support-services-india-pvt-ltd-bangalore-bengaluru-1-to-4-years-071222501790

In [15]:
job_titles=[]

In [16]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')   #  to scrap data from next pages as web pages 
    next_button.click()
    time.sleep(3)

In [17]:
len(job_titles)

40

In [18]:
job_titles

['Project Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Sr. Data Analyst',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst',
 'Data Analyst - SQL',
 'Sr Data Analyst - Tableau',
 'Analyst- Web Data Management',
 'Data Analyst, Business Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Power BI',
 'Data Analyst',
 'Data Analyst I',
 'Data Analyst - SQL',
 'Data Analyst / Product Analyst / Business Analyst',
 'Sr Data Analyst - Tableau',
 'Data Analyst/Sr Data Analyst',
 'Senior Data Analyst - Data Modeling/Quality',
 'Data Analyst',
 'Financial Data Analyst',
 'Sr . Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / 4 - 7 years / Bangalore',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - GAMMA']

# Q.NO.2:- Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name.

In [19]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [20]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [21]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [22]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [23]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [24]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]

In [26]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [27]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [28]:
# creating the dataframe from above data-

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Lead Data Scientist,Bangalore/Bengaluru,Caterpillar Inc

# Q.NO.3:-In this question We have to scrape data using the filters available on the webpage as shown below:

In [29]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [30]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [31]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [32]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [33]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [34]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [35]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [36]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [37]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [38]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,"Delhi / NCR, New Delhi, Hyderabad/Secunderabad...",Tata Nexarc,4-8 Yrs
1,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
2,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs
3,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
4,Data Scientist,Hybrid - Noida,HCLTech,4-9 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,1-5 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Senior Data Scientist - Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Global Employees,7-12 Yrs
8,Principal Data Scientist,Gurgaon/Gurugram,Bharatpe,5-8 Yrs
9,Data Scientist - R / Python / SQL,"Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalo...",TransOrg Analytics,3-6 Yrs

# Q.NO.4:- Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [31]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [32]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [33]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [34]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sunglasses')

In [38]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

ElementClickInterceptedException: Message: element click intercepted: Element <path class="_34RNph" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203"></path> is not clickable at point (558, 32). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x0112F243]
	(No symbol) [0x010B7FD1]
	(No symbol) [0x00FAD04D]
	(No symbol) [0x00FE28B9]
	(No symbol) [0x00FE08CC]
	(No symbol) [0x00FDE4CB]
	(No symbol) [0x00FDD164]
	(No symbol) [0x00FD32A6]
	(No symbol) [0x00FF858C]
	(No symbol) [0x00FD2BFF]
	(No symbol) [0x00FF8804]
	(No symbol) [0x0100C9EB]
	(No symbol) [0x00FF8386]
	(No symbol) [0x00FD163C]
	(No symbol) [0x00FD269D]
	GetHandleVerifier [0x013C9A22+2655074]
	GetHandleVerifier [0x013BCA24+2601828]
	GetHandleVerifier [0x011D8C0A+619850]
	GetHandleVerifier [0x011D7830+614768]
	(No symbol) [0x010C05FC]
	(No symbol) [0x010C5968]
	(No symbol) [0x010C5A55]
	(No symbol) [0x010D051B]
	BaseThreadInitThunk [0x7568FEF9+25]
	RtlGetAppContainerNamedObjectPath [0x77247BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77247B8E+238]

In [ ]:
# scraping product brands from the given page
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")   
    for i in Product_desc[0:100]:
        prod_description.append(i.text)
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//div[@class='_1LKTO3']")