# WEB SCRAPING-ASSIGNMENT-2

# Q.NO.1:- Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [4]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
6,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
7,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
8,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

In [13]:
#to fetching the url
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="27be2c1562fc761cdb68470af7e97629", element="59180c6f-944e-4407-9f0c-671d27e2fa54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="27be2c1562fc761cdb68470af7e97629", element="9e8aebf2-742f-4e2b-8417-2dd033d00c04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="27be2c1562fc761cdb68470af7e97629", element="1fb69fc7-7417-47ae-a1d5-dbc5ab7e32d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="27be2c1562fc761cdb68470af7e97629", element="95d035cb-f7f4-4d76-99ff-a258478a9070")>]

In [14]:
for i in url[0:4]: #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501110
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-3-to-5-years-091222501109
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501111
https://www.naukri.com/job-listings-data-analyst-anz-support-services-india-pvt-ltd-bangalore-bengaluru-1-to-4-years-071222501790

In [15]:
job_titles=[]

In [16]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')   #  to scrap data from next pages as web pages 
    next_button.click()
    time.sleep(3)

In [17]:
len(job_titles)

40

In [18]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Sr. Data Analyst',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst',
 'Sr Data Analyst - Tableau',
 'Project Data Analyst',
 'Analyst- Web Data Management',
 'Data Analyst, Business Analyst',
 'Sr Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst - Power BI',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst I',
 'Data Analyst / Product Analyst / Business Analyst',
 'Sr Data Analyst - Tableau',
 'Senior Data Analyst - Data Modeling/Quality',
 'Data Analyst',
 'Financial Data Analyst',
 'Senior Data Analyst',
 'Sr . Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / 4 - 7 years / Bangalore',
 'Data Analyst',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - SQL']

# Q.NO.2:- Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [19]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [20]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [21]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [22]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [23]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [24]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]

In [26]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [27]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [28]:
# creating the dataframe from above data-

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm

# Q.NO.3:-In this question We have to scrape data using the filters available on the webpage as shown below:¶

In [29]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [30]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [31]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [32]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [33]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [34]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [35]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [36]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [37]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [38]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,"Delhi / NCR, New Delhi, Hyderabad/Secunderabad...",Tata Nexarc,4-8 Yrs
1,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
2,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs
3,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
4,Data Scientist,Hybrid - Noida,HCLTech,4-9 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,1-5 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Senior Data Scientist - Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Global Employees,7-12 Yrs
8,Principal Data Scientist,Gurgaon/Gurugram,Bharatpe,5-8 Yrs
9,Data Scientist - R / Python / SQL,"Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalo...",TransOrg Analytics,3-6 Yrs

# Q.NO.4:- Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [39]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [40]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [41]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [42]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sunglasses')

In [43]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [44]:
brand=[]
prod_description=[]
price=[]

In [45]:
# scraping product brands from the given page
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)

#scraping Product descriptions from the given page        
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")   
    for i in Product_desc[0:100]:
        prod_description.append(i.text)
        
#scraping Product prices from the given page    
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//div[@class='_1LKTO3']")

In [46]:
print(len(brand),len(prod_description),len(price))

120 120 120

In [47]:
# creating the dataframe from above data-
df=pd.DataFrame({'Brand':brand,'Prod_description':prod_description,'Price':price})
df

              Brand                                   Prod_description Price
0         Elligator   UV Protection, Mirrored Wayfarer Sunglasses (54)  ₹179
1    ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹549
2        LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3          Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4        PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹129
..              ...                                                ...   ...
115        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹599
116    Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹597
117   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹949
118          PIRASO          UV Protection Rectangular Sunglasses (52)  ₹209
119        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹479

[120 rows x 3 columns]

# Q.6.Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [48]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [49]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [51]:
phone=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
phone.send_keys('iphone11')

In [52]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [53]:
rating=[]
review_summary=[]
full_review=[]

In [54]:
# scraping phone ratings from the given page
start=0
end=3
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in ratings[0:100]:
        rating.append(i.text)

#scraping Phone reviewsummary from the given page        
    Review_summary=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")   
    for i in  Review_summary[0:100]:
        review_summary.append(i.text)
        
#scraping Phone fullreview from the given page    
    Full_review=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in Full_review[0:100]:
        full_review.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [55]:
print(len(rating),len(review_summary),len(full_review))

24 24 24

In [56]:
# creating the dataframe from above data-
df=pd.DataFrame({'Rating':rating,'Review_Summary':review_summary,'Full_Review':full_review})
df

,Rating,Review_Summary,Full_Review
0,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
1,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
2,5,Perfect product!,After using 3 years mobile review. Excellent &...
3,5,Terrific,I am using the phone for last 5 years and foun...
4,5,Simply awesome,Really satisfied with the Product I received.....
5,5,Must buy!,Go for it it will last more than 3/4 years ins...
6,4,Good quality product,impressively Nice......\nOne of the greatest i...
7,5,Perfect product!,Nice products thanks flkat
8,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
9,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
10,5,Perfect product!,After using 3 years mobile review. Excellent &...
11,5,Terrific,I am using the phone for last 5 years and foun...
12,5,Simply awesome,Really satisfied with the Product I received.....
13,5,Must buy!,Go for it it will last more than 3/4 years ins...
14,4,Good quality product,impressively Nice......\nOne of the greatest i...
15,5,Perfect product!,Nice products thanks flkat
16,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
17,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
18,5,Perfect product!,After using 3 years mobile review. Excellent &...
19,5,Terrific,I am using the phone for last 5 years and foun...
20,5,Simply awesome,Really satisfied with the Product I received.....
21,5,Must buy!,Go for it it will last more than 3/4 years ins...
22,4,Good quality product,impressively Nice......\nOne of the greatest i...
23,5,Perfect product!,Nice products thanks flkat

# Q.NO.7:-Go to webpage https://www.amazon.in/

In [7]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [9]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [10]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [11]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.amazon.in//")

In [12]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('laptop')

In [15]:
#creating the empty lists
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [17]:
# scraping brand of laptop from the given page
laptop_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_tags[0:40]:
    title=i.text
    laptop_title.append(title)
    
    
# scraping ratings of laptop from the given page
product_ratings=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")
for i in product_ratings[0:40]:
    ratings=i.text
    laptop_rating.append(ratings)
    
    
# scraping price of laptop name from the given page 
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:40]:
    price=i.text
    laptop_price.append(price)

In [19]:
# Navigating to the next page
next_page=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
next_page.click()

In [20]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

30 36 38

In [23]:
df=pd.DataFrame({'Laptop_Title':laptop_title[0:25],'Laptop_Rating':laptop_rating[0:25],'Laptop_Price':laptop_price[0:25]})
df

,Laptop_Title,Laptop_Rating,Laptop_Price
0,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,"82,490"
1,Acer Swift 5 Intel Evo Premium 14 Inches Full ...,,"1,05,385"
2,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,,"82,990"
3,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,"82,490"
4,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,,"79,990"
5,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",,"95,546"
6,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,,"24,939"
7,"Dell New Windows 11 G15 5520 Gaming Laptop, In...",,"1,25,890"
8,"ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...",,"1,49,900"
9,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,,"22,999"
10,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,,"91,490"
11,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",,"61,499"
12,HP Victus Gaming Latest 12th Gen Intel Core i7...,,"82,490"
13,"ASUS TUF Gaming F15 (2022), 15.6""(39.62 cms) F...",,"1,00,990"
14,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",,"61,499"
15,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,,"71,990"
16,Acer Nitro 5 Gaming Laptop Intel core i7 11th ...,,"79,990"
17,"DELL Alienware x14 Gaming Laptop, Intel i7-127...",,"1,64,490"
18,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,,"89,000"
19,Mi Notebook Horizon Edition 14 Intel Core i7-1...,,"53,500"
20,Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...,,"99,990"
21,"MSI Titan GT77 12UHS, Intel 12th Gen. Core i7 ...",,"4,82,990"
22,HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...,,"91,600"
23,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...",,"95,990"
24,"ASUS TUF Gaming F17 (2022), 17.3""(43.94 cms) F...",,"1,06,874"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [4]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the azquotes page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [6]:
quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/a")
quotes.send_keys('azquotes')

In [16]:
#creating the empty lists
quote_title=[]
author_name=[]
type_quote=[]

In [17]:
# scraping Quotes from the given page
quote_titles=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_titles[0:10]:
    title=i.text
    quote_title.append(title)
    
    
# scraping authores of quotes from the given page
author_names=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in author_names[0:10]:
    authors=i.text
    author_name.append(authors)
    
    
# scraping types of quotes from the given page 
type_quotes=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in type_quotes[0:10]:
    typeofquotes=i.text
    type_quote.append(typeofquotes)

In [18]:
# Navigating to the next page
next_page=driver.find_element(By.XPATH,'//li[@class="next"]')
next_page.click()

In [19]:
print(len(quote_title),len(author_name),len(type_quotes))

10 10 100

In [20]:
df=pd.DataFrame({'Quote_Title':quote_title[0:10],'Author_Name':author_name[0:10],'Type_Quotes':type_quotes[0:10]})
df

,Quote_Title,Author_Name,Type_Quotes
0,Can words describe the fragrance of the very b...,Neltje Blanchan,<selenium.webdriver.remote.webelement.WebEleme...
1,"When everything seems to be going against you,...",Henry Ford,<selenium.webdriver.remote.webelement.WebEleme...
2,Faith is to believe what you do not see; the r...,Saint Augustine,<selenium.webdriver.remote.webelement.WebEleme...
3,"I have found that if you love life, life will ...",Arthur Rubinstein,<selenium.webdriver.remote.webelement.WebEleme...
4,To disarm the people... was the best and most ...,George Mason,<selenium.webdriver.remote.webelement.WebEleme...
5,"Today a reader, tomorrow a leader.",Margaret Fuller,<selenium.webdriver.remote.webelement.WebEleme...
6,A dream doesn't become reality through magic; ...,Colin Powell,<selenium.webdriver.remote.webelement.WebEleme...
7,Whoever would overthrow the liberty of a natio...,Benjamin Franklin,<selenium.webdriver.remote.webelement.WebEleme...
8,It's better to be a lion for a day than a shee...,Elizabeth Kenny,<selenium.webdriver.remote.webelement.WebEleme...
9,Resolution One: I will live for God. Resolutio...,Jonathan Edwards,<selenium.webdriver.remote.webelement.WebEleme...

# Q9: Write a python program to display list of respected former Prime Ministers of India

In [21]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [22]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [23]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [24]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [25]:
#opening the azquotes page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [28]:
minister=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/div/div[3]/div/div[1]/header/span")
minister.send_keys('gk')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/div[1]/div/div[3]/div/div[1]/header/span"}
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x0024F243]
	(No symbol) [0x001D7FD1]
	(No symbol) [0x000CD04D]
	(No symbol) [0x000FC0B0]
	(No symbol) [0x000FC22B]
	(No symbol) [0x0012E612]
	(No symbol) [0x001185D4]
	(No symbol) [0x0012C9EB]
	(No symbol) [0x00118386]
	(No symbol) [0x000F163C]
	(No symbol) [0x000F269D]
	GetHandleVerifier [0x004E9A22+2655074]
	GetHandleVerifier [0x004DCA24+2601828]
	GetHandleVerifier [0x002F8C0A+619850]
	GetHandleVerifier [0x002F7830+614768]
	(No symbol) [0x001E05FC]
	(No symbol) [0x001E5968]
	(No symbol) [0x001E5A55]
	(No symbol) [0x001F051B]
	BaseThreadInitThunk [0x760CFEF9+25]
	RtlGetAppContainerNamedObjectPath [0x77777BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77777B8E+238]
	(No symbol) [0x00000000]

In [29]:
#creating the empty lists
pm_name=[]
born_dead=[]
term_office=[]
pm_remark=[]

In [68]:
# scraping pm names from the given page
pm_names=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr[2]/td[2]/p")
for i in pm_names[0:1]:
    name=i.text
    pm_name.append(name)
    
    
# scraping born-dead date of PM from the given page
born_deads=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr[2]/td[3]/p")
for i in born_deads:
    minister=i.text
    born_dead.append(minister)
    
    
# scraping term of office from the given page 
term_offices=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr[2]/td[4]/p")
for i in term_offices:
    termofoffice=i.text
    term_office.append(termofoffice)
    
# scraping Remarks of PM from the given page
pm_remarks=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr[2]/td[5]/p")
for i in pm_remarks:
    pm=i.text
    pm_remark.append(pm)

In [69]:
print(len(pm_name),len(born_dead),len(term_office),len(pm_remark))

7 7 9 5

In [70]:
df=pd.DataFrame({'Pm_name':pm_name,'Born_Dead':born_dead,'Term_office':term_office,'Pm_Remark':pm_remark})
df

ValueError: All arrays must be of the same length

# Q.NO.10:-Write a python program to display list of 50 Most expensive cars in the world

In [45]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [46]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [47]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [48]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [49]:
#opening the most expensive cars page on automated chrome browser
driver.get("https://www.motor1.com/")

In [51]:
cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
cars.send_keys('expensivecars')

In [74]:
#creating the empty list
car_name=[]

In [75]:
# scraping car names from the given page
car_names=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_names:
    carname=i.text
    car_name.append(carname)

In [76]:
#creating the empty list
car_price=[]

In [77]:
#scraping the prices of cars
car_prices=driver.find_elements(By.XPATH,"//div[@class='postBody description e-content']/p/strong")
for i in car_prices:
    carprice=i.text
    car_price.append(carprice)

In [78]:
car_dec=[]

In [79]:
# scraping the description of cars from the given page
car_decs=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[5]")
for i in car_decs:
    cardescription=i.text
    car_dec.append(cardescription)
    time.sleep(3)

#for removing the price row which is also included in description data-
car_dec=[]
for i in range(4,103,2):
    car_dec.append(cardescription[i])

In [80]:
print(len(car_name),len(car_price),len(car_dec))

51 51 50

In [81]:
df=pd.DataFrame({'Car_Name':car_name,'Car_Price':car_price,'Car_Dec':car_dec})
df

ValueError: All arrays must be of the same length