In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.4-py3-none-any.whl (14 kB)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.0.4 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Let first connect to the driver
driver =webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")

In [4]:
#Let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [6]:
# entering designation and location as required in the question-
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [19]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page 
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [20]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
# creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
7,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

In [22]:
#to fetching the url
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1ed596dc1333a522ef672bcdb9ba4018", element="1a124a76-ba98-48d6-89fa-c3b634d0ee64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed596dc1333a522ef672bcdb9ba4018", element="727feba7-5daa-4e57-be79-295f3d7b7f23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed596dc1333a522ef672bcdb9ba4018", element="d328d306-2d11-49ac-9036-1dfb74510d1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed596dc1333a522ef672bcdb9ba4018", element="e7f5d35d-6ad6-4052-8198-2e65f88973d3")>]

In [23]:
for i in url[0:4]: #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-project-data-analyst-wsp-bangalore-bengaluru-0-to-4-years-061222010759
https://www.naukri.com/job-listings-data-analyst-treebo-hotels-bangalore-bengaluru-1-to-5-years-061222003847
https://www.naukri.com/job-listings-executive-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-1-to-5-years-061222908060
https://www.naukri.com/job-listings-data-analyst-anz-support-services-india-pvt-ltd-bangalore-bengaluru-1-to-4-years-071222501790

In [24]:
job_titles=[]

In [26]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')   #  to scrap data from next pages as web pages 
    next_button.click()
    time.sleep(3)

In [27]:
len(job_titles)

60

In [28]:
job_titles

['Project Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Senior Data Analyst II',
 'Senior Analyst - Data Management',
 'Data Analyst - SQL',
 'Analyst- Web Data Management',
 'Data Analyst, Business Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - SQL',
 'Data Analyst / Product Analyst / Business Analyst',
 'Sr Data Analyst - Tableau',
 'Project Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Senior Data Analyst II',
 'Senior Analyst - Data Management',
 'Data Analyst - SQL',
 'Analyst- Web Data Management',
 'Data Analyst, Business Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - SQL',
 'Data Analyst / Product Analyst / Business Analyst',
 'Sr Data Analyst - Tableau',
 'Data Analyst/Sr Data Analyst',
 'Senior Data Analyst - Data Modeling/Quality',
 'Data Analyst',
 'Financial Data Analyst',
 'Sr . Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / 4 - 7 years / Bangalore',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - GAMMA',
 'Business Data Analyst 1',
 'PCN Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Manager - Data Analyst - KPO',
 'K12 Techno Services - Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Business Analyst - Data and Analytics']