# PANDAS

In [2]:
import pandas as pd

In [4]:
a=pd.Series([1,2,3,4,5])

In [5]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
b=pd.Series([10,20,30,40,50])

In [7]:
b

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [14]:
c=pd.Series([12,13,14,15,16],index=[100,200,300,400,500],dtype='int32')

In [15]:
c

100    12
200    13
300    14
400    15
500    16
dtype: int32

In [16]:
c=pd.Series([12,13,14,15,16],index=[100,200,300,400,500],dtype='float32')
c

100    12.0
200    13.0
300    14.0
400    15.0
500    16.0
dtype: float32

In [17]:
dict1={'id':1,'Nmae':'AAA'}

p=pd.Series(dict1)
p

id        1
Nmae    AAA
dtype: object

In [18]:
dict2={'roll no':101,'Name':'MONIKA LATHAR'}

p=pd.Series(dict2)
p

roll no              101
Name       MONIKA LATHAR
dtype: object

In [19]:
# Series(data,index,dtype)
s = pd.Series([1,2,3,4,5],index=[11,12,13,14,15],dtype=float)

In [20]:
s

11    1.0
12    2.0
13    3.0
14    4.0
15    5.0
dtype: float64

In [21]:
# accessing data from series
s=pd.Series([20,34,56,78,98,65])
print(s[0])

20

In [23]:
s[5]

65

In [24]:
# retrieve first three elements
s=pd.Series([10,20,30,40,50,60,70,80])
print(s[0:4])

0    10
1    20
2    30
3    40
dtype: int64

In [25]:
#passing data from list
import numpy as np
data=np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [27]:
# Task create one dictionary object with crickter name and run and pass it to pandas series print
ckr = {'name':'virat','runs':243,'innings': 3,'balls': 56}
ckr

{'name': 'virat', 'runs': 243, 'innings': 3, 'balls': 56}

In [28]:
s2 = pd.Series(ckr)
s2

name       virat
runs         243
innings        3
balls         56
dtype: object

Data frame is a two dimensional data structure,i.e. data is aligned in a tabular fashion in rows and columns.

Features ofdataframe:

Potentially columns are of different types

Size - Mutable

Labeled axes (rows and columns)

Can Perform Arithmatic operations on rown and columns

pandas.FataFrame

Apandas DaaFrame can be created using the following constructor -

pandas.DataFrame(data,index,columns,dtype,copy)

# PANDAS DATAFrame

In [2]:
import pandas as pd

In [2]:
data = [1,2,3,4]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [4]:
data= [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data)
df

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [5]:
data= [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [6]:
data= [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_9532\1607329982.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

In [7]:
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [8]:
#Note - Observe,NaN(Not a Number) is appended in missing areas.
data = [{'a' : 1,'b' : 2},{'a' : 5, 'b' : 10,'c' : 20}]
df = pd.DataFrame(data,dtype=float)
print(df)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [3]:
data = [{'a' : 1,'b' : 2},{'a' : 5, 'b' : 10,'c' : 20}]
df = pd.DataFrame(data,index=['first','second'],dtype=float)
print(df)

          a     b     c
first   1.0   2.0   NaN
second  5.0  10.0  20.0

In [4]:
data = [{'a' : 1,'b' : 2},{'a' : 5, 'b' : 10,'c' : 20}]

#with two column indices, values same as dictionary keys
df1 = pd.DataFrame(data,index=['first','second'], columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [5]:
#with two column indices with one index with other name
df2 = pd.DataFrame(data,index=['first','second'], columns=['a','b1'])
print(df2)

        a  b1
first   1 NaN
second  5 NaN

#Addition of Rows
#ADD new rows to a DataFrame using the append function.This function will append the rows at the end.
df1 = pd.DtaFrame([[1,2], [3,4]], columns = ['a','b'])
df2 = pd.DtaFrame([[5,6], [7,8]], columns = ['a','b'])


df3 = df1.append(df2)
print(df3)

# Indexing and Slicing in PANDAS